.ReactModal__Content  {
    position: absolute;
    inset: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    top: 233px;
    left: 500px;
}